@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
    --background: black;
    --number: #28282a;
    --calc: #1a1a1a;
    --white-clicked: #949494;
    --font: #4e4e4e;
}

body {
    background-color: black;
    display: grid;
    place-items: center;
    font-family: 'JetBrains Mono', monospace;
}

#main-container {
    background-color: black;
    max-width: 341px;
    height: 530px;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#text-container {
    width: 100%;
    height: 90px;
    border-radius: 25px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 10px;
    margin-left: -2px;
}

#output {
    color: white;
    font-size: 50px;
    text-align: right;
    padding-right: 15px;
    padding-top: 10px;
    width: 324px;
    height: 74px;
    background-color: black;
    border: none;
    border-radius: 25px;
    font-family: 'JetBrains Mono', monospace;
}

#output:focus {
    outline: none;
    border: none;
}

#grid-container {
    display: flex;
    padding-top: 1px;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    margin-left: -2px;
    margin-right: -2px;
    border-radius: 25px;
}

.number-button {
    background-color: var(--number);
}

.calc-button {
    background-color: var(--calc);
}

.enter-button {
    background-color: white;
    color: black;
}

.enter-button:hover {
    background-color: hsl(0, 0%, 81%);
}
.enter-button:active {
    background-color: hsl(0, 0%, 63%);
}

.clear-button {
    background-color: var(--calc);
}

.delete-button {
    background-color: var(--calc);
}


button {
    height: 75px;
    width: 75px;
    border-style: none;
    border-radius: 25px;
    margin: 5px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    user-select: none;
    font-family: 'JetBrains Mono', monospace;
}

button:hover {
    background-color: hsl(0,0%, 20%);
}

button:active {
    background-color: hsl(0,0%, 40%);
}


#icon {
    color: white;
    scale: 2.5;
}

#heading {
    position: absolute;
    color: white;
    font-family: "Space Grotesk", sans-serif;
    top: 30px;
    left: 40px;
    display: flex;
    align-items: center;
}

#title {
    font-size: 30px;
    margin-left: 25px;
    color: var(--white);
}

#deleteIcon {
    scale: 0.75;
}


#github {
    height: 20px;
    position: absolute;
    left: 0px;
    margin-left: 27.5px;
    bottom: 27.5px;
    cursor: pointer;
    font-size: 17.5px;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    color: var(--font);
}

#github:hover {
    color: white;
    text-decoration: underline;
}
